<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
  #drawer
  class="sidenav"
  fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)">
  <mat-toolbar color="primary">Menu</mat-toolbar>
  <mat-nav-list>
    <a id="dashboard" mat-list-item *ngIf="auth.isLoggednIn()" routerLink="/dashboard">Dashboard</a>
    <a id="edit-profile" mat-list-item *ngIf="auth.isLoggednIn()" routerLink="/edit-profile">Edit Profile</a>
   <!-- <a id="loaned_books" mat-list-item *ngIf="auth.isLoggednIn()" routerLink="/view-loaned">View Loaned Books</a> -->
    <a id="register" *ngIf="!auth.isLoggednIn()" mat-list-item routerLink="/register">Register</a>
    <a id="login" *ngIf="!auth.isLoggednIn()" mat-list-item routerLink="/login">Login</a>
    <a id ="logout" mat-list-item *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</a>
    
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar color="primary">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Library</span>
</mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
