<mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
        <mat-card>
            <form *ngIf="!view" [formGroup]="form" (ngSubmit)="updateBook()">
                <mat-form-field>
                    <input matInput type="text" placeholder="Book Name" formControlName="name" />
                </mat-form-field> <br>
               <div class="form-div">
                    <select class="form-control" formControlName="authors">
                        <option value="">Select author</option>
                        <option *ngFor="let author of authors$ | async" [value]="author.id">
                          {{ author.firstName }}  {{ author.lastName }}
                        </option>
                    </select>
                </div> <br>
                <mat-form-field>
                    <input matInput type="number" placeholder="Number of Books" formControlName="total" />
                </mat-form-field> <br>
                <mat-form-field>
                    <input matInput type="number" placeholder="Number of available Books" formControlName="available" />
                </mat-form-field> <br>
                <mat-form-field>
                    <input matInput type="text" placeholder="Id" formControlName="id" />
                </mat-form-field> <br>
                <button mat-raised-button type="submit" color="primary">Update Book</button>
            </form>
            <span *ngIf="view">
                <h3>{{ book.name }} by {{ this.book.authors[0].firstName }} {{ this.book.authors[0].lastName }}</h3>
                <h5>Total Books: {{this.book.total }}</h5>
                <h5>Available Books: {{this.book.available }}</h5>
            </span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 10px;">
            <mat-card-header>
                <mat-card-title>Lend Book</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <select id="select_lender" [(ngModel)]="lender">
                        <option value="">Select who to lend</option>
                       <option [value]="sandbox + '_tester1'">
                            {{ sandbox }}_tester1
                       </option>
                        <option [value]="sandbox + '_tester2'">
                            {{ sandbox }}_tester2
                        </option>
                        <option [value]="sandbox + '_tester3'">
                            {{ sandbox }}_tester3
                        </option>
                    </select>
                </div> <br>
                <button mat-raised-button id="lend_book" (click)="lendBook()" color="primary">Lend Book</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Return Book</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <select id="select_returner" [(ngModel)]="returner">
                        <option value="">Select who to return</option>
                        <option [value]="sandbox + '_tester1'">
                            {{ sandbox }}_tester1
                        </option>
                        <option [value]="sandbox + '_tester2'">
                            {{ sandbox }}_tester2
                        </option>
                        <option [value]="sandbox + '_tester3'">
                            {{ sandbox }}_tester3
                        </option>
                    </select>
                </div> <br>
                <button mat-raised-button id="return_book" (click)="returnBook()" color="primary">Return Book</button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>