<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <mat-card>
            <form [formGroup]="form" (ngSubmit)="updateAuthor()">
                <mat-form-field>
                    <input matInput type="text" placeholder="First Name" formControlName="firstName" />
                </mat-form-field> <br>
                <mat-form-field>
                    <input matInput type="text" placeholder="Last Name" formControlName="lastName" />
                </mat-form-field> <br>
                <mat-form-field>
                    <input matInput type="text" placeholder="Id" formControlName="id" />
                </mat-form-field> <br>
                <button mat-raised-button type="submit" color="primary">Update Author</button>
            </form>
        </mat-card>
    </mat-grid-tile>