<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Books</mat-card-title>
    <mat-card-subtitle>A list of books in the library</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Here you can add books, loan books or remove books from the library.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['dashboard', sandbox, 'books']">Go to books</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Authors</mat-card-title>
    <mat-card-subtitle>A list of authors in the library</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Here you can add and delete authors from the library.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['dashboard', sandbox, 'authors']">Go to authors</button>
  </mat-card-actions>
</mat-card>
</div>