<mat-card>
  <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field>
      <input matInput type="text" id="register_username" placeholder="Username" formControlName="username" />
    </mat-form-field> <br>
    <mat-form-field>
      <input matInput type="text" id="register_name" placeholder="Name" formControlName="name" />
    </mat-form-field> <br>
    <mat-form-field>
      <input matInput type="text" id="register_email" placeholder="Email" formControlName="email" />
    </mat-form-field> <br>
    <mat-form-field>
      <input matInput type="password" id="register_password" placeholder="Password" formControlName="password" />
    </mat-form-field> <br>
    <mat-form-field>
      <input matInput type="password" id="register_password_confirmed" placeholder="Confirm Password" formControlName="password_confirmation" />
    </mat-form-field> <br>
    <button mat-raised-button type="submit" id="register" color="primary">Register</button>
  </form>
</mat-card>
